<!DOCTYPE html>

{%load static %}

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>babu sir 2nd year timetable</title>

    <link rel="stylesheet" href="{%static '/css/tablestyles.css'%}">
    <style>
        div{
            padding-left: 300px;
        }
    </style>

</head>

<body>

    <h1>TIMETABLE FOR BABU SIR ::</h1>

    <hr />

    <br />

    {% if sublist %}
<div>
    <table class="styled-table">

        <caption>
            <h3> faculty:BABU YEAR:2_1 section: SUB:C++
            </h3>
        </caption>

        <thead>

            <th>DAY</th>

            <th>Classtime</th>

        </thead>

        <tbody>

            {% for sub in sublist%}

            <tr>

                <td> {{sub.DAY}}</td>

                <td> {{sub.Classtime}}</td>


            </tr>
            {% endfor %}

        </tbody>

    </table>
</div>
    {%else%}

    <p>No such records found </p>

    {% endif %}



</body>

</html>