<!DOCTYPE html>
{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fourth year timetable</title>
    <link rel="stylesheet" href="{%static '/css/tablestyles.css'%}">
</head>
<body>
    <h1>TIMETABLE FOR FOURTH YEAR ::</h1>
    <hr />
    <br />
    {% if sublist %}
        <div>
    <table class="styled-table">
        <caption><h3><left>year:4</left> sem:2 section:A </h3></caption>
        <thead>
            <th>DAY</th>
            <th>9.30-10.20</th>
            <th>10.20-11.10</th>
            <th>11.10-11.20</th>
            <th>11.20-12.10</th>
	    <th>12.10-1.00</th>
	    <th>1.00-1.30</th>
	    <th>1.30-2.20</th>
	    <th>2.20-3.10</th>
        </thead>
        <tbody>
            {% for sub in sublist%}
            <tr>
               <td> {{sub.DAY}}</td>
                <td> {{sub.FP}}</td>
                <td> {{sub.SP}}</td>
                <td> {{sub.BR}}</td>
                <td> {{sub.TP}}</td>
                <td> {{sub.FRP}}</td>
                <td> {{sub.LP}}</td>
		        <td> {{sub.FTP}}</td>
		        <td> {{sub.STP}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
        </div>
    {%else%}
        <p>No such records found </p>
    {% endif %}

</body>
</html>


