<html>
<head>
<title>******faculty view****</title>
    <style>
        ul{
            color: blue;
            text-anchor: middle;
            text-align: center;
        }
    </style>
</head>
<body>
<h2>  WELCOME TO CSI WESLEY CLG  </h2>
<ul type="disc">
        <span><h2>select year</h2> </span><br/>
        <li><a href="/narender_1_1_a/">1st YEAR 1ST SEM SEC:A</a></li></br>
        <li><a href="/narender_1_1_b/">1st YEAR 1ST SEM SEC:B</a></li></br>
        <li><a href="/narender_4_1/"> 4th YEAR 1ST SEM SEC:A&B</a></li></br>
            </ul>
</body>
</html>