<!DOCTYPE html>
{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>naveen sir 2nd year timetable</title>
    <link rel="stylesheet" href="{%static '/css/tablestyles.css'%}">
</head>
<body>
    <h1>TIMETABLE FOR NAVEEN SIR ::</h1>
    <hr />
    <br />
    {% if sublist %}
    <table class="styled-table">
        <caption><h4>  faculty:NAVEEN  YEAR:2_1   section:A&B     SUB:ADE </h4></caption>
        <thead>
            <th>DAY</th>
            <th>Classtime</th>
            </thead>
        <tbody>
            {% for sub in sublist%}
            <tr>
               <td> {{sub.DAY}}</td>
                <td> {{sub.Classtime}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    {%else%}
        <p>No such records found </p>
    {% endif %}

</body>
</html>
